body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:933px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
}
#u156 {
  position:absolute;
  left:2px;
  top:351px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u157 {
  position:absolute;
  left:0px;
  top:597px;
  width:414px;
  height:48px;
}
#u158 {
  position:absolute;
  left:2px;
  top:16px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u159 {
  position:absolute;
  left:186px;
  top:588px;
  width:55px;
  height:55px;
}
#u160 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u162 {
  position:absolute;
  left:79px;
  top:601px;
  width:23px;
  height:23px;
}
#u163 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u164 {
  position:absolute;
  left:72px;
  top:626px;
  width:37px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#006600;
  text-align:center;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u167 {
  position:absolute;
  left:319px;
  top:603px;
  width:23px;
  height:23px;
}
#u168 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u169 {
  position:absolute;
  left:318px;
  top:626px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u171 {
  position:absolute;
  left:199px;
  top:601px;
  width:30px;
  height:30px;
}
#u172 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:297px;
  top:597px;
  width:68px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u174 {
  position:absolute;
  left:96px;
  top:601px;
  width:15px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u175 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u176 {
  position:absolute;
  left:64px;
  top:585px;
  width:22px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u177 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.556862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u178 {
  position:absolute;
  left:1px;
  top:45px;
  width:413px;
  height:120px;
}
#u179 {
  position:absolute;
  left:2px;
  top:52px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:146px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:146px;
  opacity:0.8;
}
#u181 {
  position:absolute;
  left:2px;
  top:65px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:302px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u182 {
  position:absolute;
  left:1px;
  top:196px;
  width:413px;
  height:302px;
}
#u183 {
  position:absolute;
  left:2px;
  top:143px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
}
#u184 {
  position:absolute;
  left:84px;
  top:238px;
  width:61px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:34px;
}
#u186 {
  position:absolute;
  left:84px;
  top:280px;
  width:257px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
}
#u188 {
  position:absolute;
  left:84px;
  top:354px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u190 {
  position:absolute;
  left:23px;
  top:232px;
  width:40px;
  height:38px;
}
#u191 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u192 {
  position:absolute;
  left:233px;
  top:354px;
  width:15px;
  height:15px;
}
#u193 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u194 {
  position:absolute;
  left:298px;
  top:351px;
  width:20px;
  height:20px;
}
#u195 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
}
#u196 {
  position:absolute;
  left:319px;
  top:353px;
  width:55px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u198 {
  position:absolute;
  left:1px;
  top:498px;
  width:413px;
  height:203px;
}
#u199 {
  position:absolute;
  left:2px;
  top:94px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:2px;
}
#u200 {
  position:absolute;
  left:1px;
  top:660px;
  width:413px;
  height:1px;
}
#u201 {
  position:absolute;
  left:2px;
  top:-8px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u202 {
  position:absolute;
  left:82px;
  top:671px;
  width:20px;
  height:20px;
}
#u203 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u204 {
  position:absolute;
  left:259px;
  top:671px;
  width:20px;
  height:20px;
}
#u205 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u206 {
  position:absolute;
  left:112px;
  top:674px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u208 {
  position:absolute;
  left:289px;
  top:674px;
  width:13px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
}
#u210 {
  position:absolute;
  left:84px;
  top:515px;
  width:61px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
}
#u212 {
  position:absolute;
  left:84px;
  top:539px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u214 {
  position:absolute;
  left:23px;
  top:509px;
  width:40px;
  height:38px;
}
#u215 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:14px;
}
#u216 {
  position:absolute;
  left:84px;
  top:569px;
  width:281px;
  height:14px;
  font-size:12px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u218 {
  position:absolute;
  left:354px;
  top:515px;
  width:20px;
  height:20px;
}
#u219 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u220 {
  position:absolute;
  left:33px;
  top:280px;
  width:30px;
  height:20px;
}
#u221 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:1px;
  top:147px;
  width:418px;
  height:50px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:45px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:45px;
}
#u224 {
  position:absolute;
  left:2px;
  top:14px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:45px;
}
#u225 {
  position:absolute;
  left:207px;
  top:0px;
  width:206px;
  height:45px;
}
#u226 {
  position:absolute;
  left:2px;
  top:14px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u227 {
  position:absolute;
  left:73px;
  top:162px;
  width:18px;
  height:18px;
}
#u228 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
}
#u229 {
  position:absolute;
  left:99px;
  top:163px;
  width:52px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u231 {
  position:absolute;
  left:254px;
  top:159px;
  width:22px;
  height:22px;
}
#u232 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
}
#u233 {
  position:absolute;
  left:280px;
  top:161px;
  width:107px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u235 {
  position:absolute;
  left:84px;
  top:593px;
  width:204px;
  height:40px;
}
#u236 {
  position:absolute;
  left:2px;
  top:12px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u237 {
  position:absolute;
  left:243px;
  top:600px;
  width:26px;
  height:26px;
}
#u238 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u239 {
  position:absolute;
  left:253px;
  top:353px;
  width:39px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
}
#u241 {
  position:absolute;
  left:84px;
  top:324px;
  width:119px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:93px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  position:absolute;
  left:84px;
  top:381px;
  width:300px;
  height:93px;
}
#u244 {
  position:absolute;
  left:2px;
  top:38px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:15px;
}
#u245 {
  position:absolute;
  left:90px;
  top:393px;
  width:285px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:30px;
}
#u247 {
  position:absolute;
  left:90px;
  top:412px;
  width:281px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:15px;
}
#u249 {
  position:absolute;
  left:90px;
  top:452px;
  width:95px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0000FF;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u251 {
  position:absolute;
  left:354px;
  top:232px;
  width:20px;
  height:20px;
}
#u252 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:15px;
}
#u253 {
  position:absolute;
  left:84px;
  top:641px;
  width:119px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u255 {
  position:absolute;
  left:298px;
  top:605px;
  width:27px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u257 {
  position:absolute;
  left:335px;
  top:159px;
  width:30px;
  height:18px;
}
#u258 {
  position:absolute;
  left:2px;
  top:1px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.466666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u259 {
  position:absolute;
  left:10px;
  top:10px;
  width:50px;
  height:25px;
}
#u260 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u261 {
  position:absolute;
  left:25px;
  top:12px;
  width:21px;
  height:21px;
}
#u262 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.466666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u263 {
  position:absolute;
  left:0px;
  top:113px;
  width:414px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u264 {
  position:absolute;
  left:2px;
  top:8px;
  width:410px;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u265 {
  position:absolute;
  left:374px;
  top:12px;
  width:21px;
  height:21px;
}
#u266 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u267 {
  position:absolute;
  left:327px;
  top:119px;
  width:21px;
  height:21px;
}
#u268 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
}
#u269 {
  position:absolute;
  left:350px;
  top:121px;
  width:52px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u271 {
  position:absolute;
  left:44px;
  top:201px;
  width:75px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u273 {
  position:absolute;
  left:14px;
  top:196px;
  width:26px;
  height:26px;
}
#u274 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u275 {
  position:absolute;
  left:458px;
  top:66px;
  width:475px;
  height:173px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  white-space:nowrap;
}
