body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  overflow:hidden;
}
#u1001_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1001_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:350px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u1004 {
  position:absolute;
  left:0px;
  top:657px;
  width:414px;
  height:60px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u1005 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1007 {
  position:absolute;
  left:76px;
  top:521px;
  width:61px;
  height:61px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1009 {
  position:absolute;
  left:177px;
  top:521px;
  width:61px;
  height:61px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1011 {
  position:absolute;
  left:278px;
  top:521px;
  width:61px;
  height:61px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1013 {
  position:absolute;
  left:92px;
  top:537px;
  width:30px;
  height:30px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1015 {
  position:absolute;
  left:193px;
  top:537px;
  width:30px;
  height:30px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1017 {
  position:absolute;
  left:294px;
  top:537px;
  width:30px;
  height:30px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u1019 {
  position:absolute;
  left:94px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u1021 {
  position:absolute;
  left:195px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u1023 {
  position:absolute;
  left:296px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1025 {
  position:absolute;
  left:157px;
  top:657px;
  width:100px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u1027 {
  position:absolute;
  left:79px;
  top:195px;
  width:99px;
  height:99px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1029 {
  position:absolute;
  left:188px;
  top:226px;
  width:148px;
  height:38px;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1031 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:351px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1034 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u1035 {
  position:absolute;
  left:0px;
  top:45px;
  width:414px;
  height:625px;
  overflow:hidden;
}
#u1035_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:625px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1035_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:144px;
}
#u1036 {
  position:absolute;
  left:32px;
  top:430px;
  width:97px;
  height:143px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:41px;
  width:93px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u1038 {
  position:absolute;
  left:0px;
  top:338px;
  width:414px;
  height:1px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:41px;
}
#u1040 {
  position:absolute;
  left:32px;
  top:349px;
  width:350px;
  height:40px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1041 {
  position:absolute;
  left:2px;
  top:10px;
  width:346px;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:144px;
}
#u1042 {
  position:absolute;
  left:158px;
  top:430px;
  width:97px;
  height:143px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:41px;
  width:93px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:144px;
}
#u1044 {
  position:absolute;
  left:285px;
  top:430px;
  width:97px;
  height:143px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:41px;
  width:93px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u1046 {
  position:absolute;
  left:59px;
  top:461px;
  width:44px;
  height:44px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u1048 {
  position:absolute;
  left:185px;
  top:461px;
  width:44px;
  height:44px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u1050 {
  position:absolute;
  left:312px;
  top:461px;
  width:44px;
  height:44px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052 {
  position:absolute;
  left:0px;
  top:670px;
  width:414px;
  height:48px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:16px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u1055 {
  position:absolute;
  left:350px;
  top:699px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u1057 {
  position:absolute;
  left:180px;
  top:661px;
  width:55px;
  height:55px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1059 {
  position:absolute;
  left:351px;
  top:674px;
  width:23px;
  height:23px;
}
#u1060 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1061 {
  position:absolute;
  left:40px;
  top:674px;
  width:23px;
  height:23px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1063 {
  position:absolute;
  left:110px;
  top:675px;
  width:23px;
  height:23px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1065 {
  position:absolute;
  left:281px;
  top:676px;
  width:23px;
  height:23px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u1067 {
  position:absolute;
  left:33px;
  top:699px;
  width:37px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u1069 {
  position:absolute;
  left:109px;
  top:699px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u1071 {
  position:absolute;
  left:280px;
  top:699px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009900;
  text-align:center;
}
#u1072 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1073 {
  position:absolute;
  left:195px;
  top:676px;
  width:25px;
  height:25px;
}
#u1074 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1075 {
  position:absolute;
  left:16px;
  top:12px;
  width:22px;
  height:22px;
}
#u1076 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077 {
  position:absolute;
  left:18px;
  top:670px;
  width:68px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1078 {
  position:absolute;
  left:88px;
  top:670px;
  width:68px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1079 {
  position:absolute;
  left:329px;
  top:670px;
  width:68px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
