body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1254px;
  height:618px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:94px;
  top:82px;
  width:1254px;
  height:618px;
}
#u1 {
  position:absolute;
  left:2px;
  top:301px;
  width:1250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1350px;
  height:5px;
}
#u2 {
  position:absolute;
  left:93px;
  top:698px;
  width:1347px;
  height:2px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:231px;
  background:inherit;
  background-color:rgba(54, 57, 76, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:0px;
  top:722px;
  width:1440px;
  height:231px;
}
#u5 {
  position:absolute;
  left:2px;
  top:108px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
}
#u6 {
  position:absolute;
  left:93px;
  top:758px;
  width:72px;
  height:38px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u8 {
  position:absolute;
  left:389px;
  top:758px;
  width:30px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u10 {
  position:absolute;
  left:389px;
  top:784px;
  width:49px;
  height:1px;
  color:#999999;
}
#u11 {
  position:absolute;
  left:2px;
  top:-8px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u12 {
  position:absolute;
  left:389px;
  top:795px;
  width:61px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:12px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1256px;
  height:2px;
}
#u14 {
  position:absolute;
  left:93px;
  top:869px;
  width:1255px;
  height:1px;
  color:#999999;
}
#u15 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:38px;
}
#u16 {
  position:absolute;
  left:445px;
  top:894px;
  width:517px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  white-space:nowrap;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u18 {
  position:absolute;
  left:506px;
  top:758px;
  width:30px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u20 {
  position:absolute;
  left:506px;
  top:784px;
  width:49px;
  height:1px;
  color:#999999;
}
#u21 {
  position:absolute;
  left:2px;
  top:-8px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u22 {
  position:absolute;
  left:506px;
  top:795px;
  width:61px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:12px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u24 {
  position:absolute;
  left:389px;
  top:821px;
  width:61px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:12px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u26 {
  position:absolute;
  left:1223px;
  top:784px;
  width:30px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28 {
  position:absolute;
  left:1272px;
  top:784px;
  width:30px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u31 {
  position:absolute;
  left:2px;
  top:27px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u33 {
  position:absolute;
  left:112px;
  top:7px;
  width:44px;
  height:15px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u35_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:136px;
  height:5px;
}
#u35 {
  position:absolute;
  left:51px;
  top:42px;
  width:133px;
  height:2px;
  text-align:left;
}
#u36 {
  position:absolute;
  left:2px;
  top:-7px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u37 {
  position:absolute;
  left:112px;
  top:25px;
  width:57px;
  height:12px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:24px;
}
#u39 {
  position:absolute;
  left:53px;
  top:12px;
  width:42px;
  height:22px;
  text-align:left;
}
#u40 {
  position:absolute;
  left:2px;
  top:3px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:26px;
}
#u41 {
  position:absolute;
  left:104px;
  top:12px;
  width:1px;
  height:25px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:14px;
}
#u43 {
  position:absolute;
  left:51px;
  top:47px;
  width:142px;
  height:14px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1D9ED7;
}
#u45 {
  position:absolute;
  left:251px;
  top:28px;
  width:59px;
  height:15px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1D9ED7;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u47 {
  position:absolute;
  left:1200px;
  top:25px;
  width:22px;
  height:22px;
}
#u48 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#666666;
}
#u49 {
  position:absolute;
  left:1242px;
  top:28px;
  width:30px;
  height:15px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#666666;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:243px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 30, 6, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  position:absolute;
  left:264px;
  top:210px;
  width:243px;
  height:243px;
}
#u52 {
  position:absolute;
  left:2px;
  top:114px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:243px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:599px;
  top:210px;
  width:243px;
  height:243px;
}
#u54 {
  position:absolute;
  left:2px;
  top:114px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:243px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:933px;
  top:210px;
  width:243px;
  height:243px;
}
#u56 {
  position:absolute;
  left:2px;
  top:114px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u57 {
  position:absolute;
  left:316px;
  top:239px;
  width:140px;
  height:140px;
}
#u58 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u59 {
  position:absolute;
  left:651px;
  top:239px;
  width:140px;
  height:140px;
}
#u60 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u61 {
  position:absolute;
  left:985px;
  top:239px;
  width:140px;
  height:140px;
}
#u62 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u63 {
  position:absolute;
  left:264px;
  top:210px;
  width:72px;
  height:72px;
}
#u64 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  color:#1D9ED7;
}
#u65 {
  position:absolute;
  left:1012px;
  top:406px;
  width:86px;
  height:20px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  color:#1D9ED7;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u67 {
  position:absolute;
  left:602px;
  top:214px;
  width:39px;
  height:39px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u69 {
  position:absolute;
  left:936px;
  top:214px;
  width:39px;
  height:39px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:264px;
  top:210px;
  width:243px;
  height:243px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  position:absolute;
  left:599px;
  top:210px;
  width:243px;
  height:243px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73 {
  position:absolute;
  left:933px;
  top:210px;
  width:243px;
  height:243px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u74 {
  position:absolute;
  left:143px;
  top:135px;
  width:113px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:22px;
}
#u76 {
  position:absolute;
  left:130px;
  top:657px;
  width:289px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  color:#FF9900;
}
#u78 {
  position:absolute;
  left:678px;
  top:406px;
  width:86px;
  height:20px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  color:#FF9900;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  color:#D81E06;
}
#u80 {
  position:absolute;
  left:343px;
  top:406px;
  width:86px;
  height:20px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  color:#D81E06;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
