body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5031 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  overflow:hidden;
}
#u5031_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5031_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5032 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
}
#u5033 {
  position:absolute;
  left:2px;
  top:350px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5034 {
  position:absolute;
  left:0px;
  top:657px;
  width:414px;
  height:60px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5035 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u5036 {
  position:absolute;
  left:157px;
  top:657px;
  width:100px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u5038 {
  position:absolute;
  left:79px;
  top:195px;
  width:99px;
  height:99px;
}
#u5039 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u5040 {
  position:absolute;
  left:188px;
  top:226px;
  width:148px;
  height:38px;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u5041 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u5042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u5043 {
  position:absolute;
  left:28px;
  top:521px;
  width:61px;
  height:61px;
}
#u5044 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u5045 {
  position:absolute;
  left:129px;
  top:521px;
  width:61px;
  height:61px;
}
#u5046 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u5047 {
  position:absolute;
  left:230px;
  top:521px;
  width:61px;
  height:61px;
}
#u5048 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5049 {
  position:absolute;
  left:44px;
  top:537px;
  width:30px;
  height:30px;
}
#u5050 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5051 {
  position:absolute;
  left:145px;
  top:537px;
  width:30px;
  height:30px;
}
#u5052 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5053 {
  position:absolute;
  left:246px;
  top:537px;
  width:30px;
  height:30px;
}
#u5054 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u5055 {
  position:absolute;
  left:46px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5056 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u5057 {
  position:absolute;
  left:147px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5058 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u5059 {
  position:absolute;
  left:248px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5060 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u5061 {
  position:absolute;
  left:326px;
  top:521px;
  width:61px;
  height:61px;
}
#u5062 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5063 {
  position:absolute;
  left:346px;
  top:537px;
  width:30px;
  height:30px;
}
#u5064 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u5065 {
  position:absolute;
  left:344px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5066 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5067 {
  position:absolute;
  left:28px;
  top:521px;
  width:61px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:790px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5068 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:790px;
}
#u5069 {
  position:absolute;
  left:2px;
  top:387px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u5070 {
  position:absolute;
  left:35px;
  top:66px;
  width:55px;
  height:55px;
}
#u5071 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5072 {
  position:absolute;
  left:115px;
  top:73px;
  width:81px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5073 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5074 {
  position:absolute;
  left:115px;
  top:102px;
  width:116px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5075 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u5076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:41px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5077 {
  position:absolute;
  left:0px;
  top:353px;
  width:414px;
  height:41px;
  text-align:left;
}
#u5078 {
  position:absolute;
  left:2px;
  top:13px;
  width:410px;
  word-wrap:break-word;
}
#u5079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5079 {
  position:absolute;
  left:0px;
  top:394px;
  width:104px;
  height:100px;
}
#u5080 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5081 {
  position:absolute;
  left:104px;
  top:394px;
  width:104px;
  height:100px;
}
#u5082 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5083 {
  position:absolute;
  left:207px;
  top:394px;
  width:104px;
  height:100px;
}
#u5084 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5085 {
  position:absolute;
  left:309px;
  top:394px;
  width:104px;
  height:100px;
}
#u5086 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u5087 {
  position:absolute;
  left:24px;
  top:404px;
  width:57px;
  height:57px;
}
#u5088 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u5089 {
  position:absolute;
  left:33px;
  top:464px;
  width:39px;
  height:15px;
}
#u5090 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u5091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u5091 {
  position:absolute;
  left:138px;
  top:417px;
  width:37px;
  height:37px;
}
#u5092 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u5093 {
  position:absolute;
  left:131px;
  top:464px;
  width:52px;
  height:15px;
}
#u5094 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5095 {
  position:absolute;
  left:244px;
  top:422px;
  width:32px;
  height:32px;
}
#u5096 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u5097 {
  position:absolute;
  left:234px;
  top:464px;
  width:52px;
  height:15px;
}
#u5098 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u5099 {
  position:absolute;
  left:333px;
  top:404px;
  width:57px;
  height:57px;
}
#u5100 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u5101 {
  position:absolute;
  left:344px;
  top:464px;
  width:36px;
  height:15px;
}
#u5102 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u5103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:41px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5103 {
  position:absolute;
  left:0px;
  top:152px;
  width:414px;
  height:41px;
  text-align:left;
}
#u5104 {
  position:absolute;
  left:2px;
  top:13px;
  width:410px;
  word-wrap:break-word;
}
#u5105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5105 {
  position:absolute;
  left:16px;
  top:160px;
  width:25px;
  height:25px;
}
#u5106 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5107 {
  position:absolute;
  left:0px;
  top:194px;
  width:414px;
  height:149px;
}
#u5108 {
  position:absolute;
  left:2px;
  top:66px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u5109 {
  position:absolute;
  left:29px;
  top:214px;
  width:52px;
  height:15px;
}
#u5110 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u5111 {
  position:absolute;
  left:29px;
  top:308px;
  width:27px;
  height:15px;
}
#u5112 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u5113 {
  position:absolute;
  left:29px;
  top:244px;
  width:351px;
  height:1px;
}
#u5114 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u5115 {
  position:absolute;
  left:29px;
  top:291px;
  width:351px;
  height:1px;
}
#u5116 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u5117 {
  position:absolute;
  left:294px;
  top:214px;
  width:65px;
  height:15px;
  color:#999999;
}
#u5118 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u5119 {
  position:absolute;
  left:332px;
  top:308px;
  width:27px;
  height:15px;
  color:#999999;
}
#u5120 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5121 {
  position:absolute;
  left:0px;
  top:510px;
  width:414px;
  height:53px;
}
#u5122 {
  position:absolute;
  left:2px;
  top:18px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u5123 {
  position:absolute;
  left:54px;
  top:530px;
  width:52px;
  height:15px;
}
#u5124 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5125 {
  position:absolute;
  left:361px;
  top:527px;
  width:19px;
  height:19px;
}
#u5126 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u5127 {
  position:absolute;
  left:271px;
  top:529px;
  width:80px;
  height:15px;
  color:#999999;
}
#u5128 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u5129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5129 {
  position:absolute;
  left:24px;
  top:522px;
  width:30px;
  height:30px;
}
#u5130 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5131 {
  position:absolute;
  left:16px;
  top:12px;
  width:22px;
  height:22px;
}
#u5132 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5133 {
  position:absolute;
  left:192px;
  top:12px;
  width:30px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5134 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u5135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u5135 {
  position:absolute;
  left:29px;
  top:261px;
  width:27px;
  height:15px;
}
#u5136 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u5137 {
  position:absolute;
  left:332px;
  top:261px;
  width:27px;
  height:15px;
  color:#999999;
}
#u5138 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
