body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:674px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:674px;
}
#u152 {
  position:absolute;
  left:2px;
  top:329px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u154 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u155 {
  position:absolute;
  left:16px;
  top:10px;
  width:25px;
  height:25px;
}
#u156 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u157 {
  position:absolute;
  left:0px;
  top:624px;
  width:413px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u158 {
  position:absolute;
  left:2px;
  top:32px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u160 {
  position:absolute;
  left:78px;
  top:629px;
  width:23px;
  height:23px;
}
#u161 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u162 {
  position:absolute;
  left:198px;
  top:629px;
  width:23px;
  height:23px;
}
#u163 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u164 {
  position:absolute;
  left:71px;
  top:654px;
  width:37px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u166 {
  position:absolute;
  left:185px;
  top:654px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009900;
  text-align:center;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u168 {
  position:absolute;
  left:318px;
  top:629px;
  width:23px;
  height:23px;
}
#u169 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u170 {
  position:absolute;
  left:317px;
  top:654px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u172 {
  position:absolute;
  left:60px;
  top:624px;
  width:60px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u173 {
  position:absolute;
  left:300px;
  top:625px;
  width:60px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
}
#u174 {
  position:absolute;
  left:133px;
  top:14px;
  width:52px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
}
#u176 {
  position:absolute;
  left:239px;
  top:14px;
  width:52px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u178_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:72px;
  height:5px;
}
#u178 {
  position:absolute;
  left:124px;
  top:43px;
  width:69px;
  height:2px;
}
#u179 {
  position:absolute;
  left:2px;
  top:-7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
