body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-149px;
  width:1220px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:479px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1056 {
  position:absolute;
  left:149px;
  top:70px;
  width:1220px;
  height:479px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:232px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059 {
  position:fixed;
  left:50%;
  margin-left:-740px;
  top:0px;
}
#u1059_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1059_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:60px;
  background:inherit;
  background-color:rgba(39, 176, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:60px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:22px;
  width:1476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1062 {
  position:absolute;
  left:39px;
  top:8px;
  width:45px;
  height:45px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1064 {
  position:absolute;
  left:94px;
  top:19px;
  width:159px;
  height:24px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1066 {
  position:absolute;
  left:1279px;
  top:21px;
  width:95px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.219607843137255);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1068 {
  position:absolute;
  left:359px;
  top:3px;
  width:151px;
  height:55px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1069 {
  position:absolute;
  left:2px;
  top:18px;
  width:147px;
  word-wrap:break-word;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1070 {
  position:absolute;
  left:520px;
  top:3px;
  width:151px;
  height:55px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1071 {
  position:absolute;
  left:2px;
  top:20px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072 {
  position:absolute;
  left:1254px;
  top:82px;
  width:96px;
  height:30px;
}
#u1072_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1073 {
  position:absolute;
  left:172px;
  top:88px;
  width:161px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:2px;
}
#u1075 {
  position:absolute;
  left:149px;
  top:127px;
  width:1220px;
  height:1px;
}
#u1076 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1077 {
  position:absolute;
  left:220px;
  top:163px;
  width:65px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1078 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1079 {
  position:absolute;
  left:220px;
  top:205px;
  width:65px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1080 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1081 {
  position:absolute;
  left:307px;
  top:166px;
  width:97px;
  height:16px;
}
#u1082 {
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u1081_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1083 {
  position:absolute;
  left:404px;
  top:166px;
  width:90px;
  height:16px;
}
#u1084 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1083_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1085 {
  position:absolute;
  left:313px;
  top:199px;
  width:300px;
  height:35px;
}
#u1085_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1086 {
  position:absolute;
  left:220px;
  top:250px;
  width:65px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1087 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1088 {
  position:absolute;
  left:313px;
  top:256px;
  width:100px;
  height:16px;
}
#u1089 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1088_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1090 {
  position:absolute;
  left:313px;
  top:282px;
  width:100px;
  height:16px;
}
#u1091 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1090_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1092 {
  position:absolute;
  left:313px;
  top:308px;
  width:100px;
  height:16px;
}
#u1093 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1092_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1094 {
  position:absolute;
  left:220px;
  top:355px;
  width:65px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1095 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1096 {
  position:absolute;
  left:307px;
  top:349px;
  width:300px;
  height:35px;
}
#u1096_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1097 {
  position:absolute;
  left:642px;
  top:349px;
  width:300px;
  height:35px;
}
#u1097_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:2px;
}
#u1098 {
  position:absolute;
  left:149px;
  top:478px;
  width:1220px;
  height:1px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100 {
  position:absolute;
  left:749px;
  top:501px;
  width:140px;
  height:25px;
}
#u1100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
