body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u826 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  overflow:hidden;
}
#u826_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u826_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
}
#u828 {
  position:absolute;
  left:2px;
  top:350px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u829 {
  position:absolute;
  left:0px;
  top:657px;
  width:414px;
  height:60px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u830 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u832 {
  position:absolute;
  left:76px;
  top:521px;
  width:61px;
  height:61px;
}
#u833 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u834 {
  position:absolute;
  left:177px;
  top:521px;
  width:61px;
  height:61px;
}
#u835 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u836 {
  position:absolute;
  left:278px;
  top:521px;
  width:61px;
  height:61px;
}
#u837 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u838 {
  position:absolute;
  left:92px;
  top:537px;
  width:30px;
  height:30px;
}
#u839 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u840 {
  position:absolute;
  left:193px;
  top:537px;
  width:30px;
  height:30px;
}
#u841 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u842 {
  position:absolute;
  left:294px;
  top:537px;
  width:30px;
  height:30px;
}
#u843 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u844 {
  position:absolute;
  left:94px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u846 {
  position:absolute;
  left:195px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u848 {
  position:absolute;
  left:296px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u850 {
  position:absolute;
  left:157px;
  top:657px;
  width:100px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u852 {
  position:absolute;
  left:79px;
  top:195px;
  width:99px;
  height:99px;
}
#u853 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u854 {
  position:absolute;
  left:188px;
  top:226px;
  width:148px;
  height:38px;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
}
#u857 {
  position:absolute;
  left:2px;
  top:351px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u859 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u860 {
  position:absolute;
  left:16px;
  top:12px;
  width:22px;
  height:22px;
}
#u861 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u862 {
  position:absolute;
  left:0px;
  top:65px;
  width:414px;
  height:183px;
}
#u863 {
  position:absolute;
  left:2px;
  top:84px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u864 {
  position:absolute;
  left:20px;
  top:82px;
  width:51px;
  height:51px;
}
#u865 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
}
#u866 {
  position:absolute;
  left:89px;
  top:82px;
  width:55px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
}
#u868 {
  position:absolute;
  left:89px;
  top:106px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:217px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  position:absolute;
  left:0px;
  top:258px;
  width:414px;
  height:217px;
}
#u871 {
  position:absolute;
  left:2px;
  top:100px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:42px;
}
#u872 {
  position:absolute;
  left:69px;
  top:284px;
  width:277px;
  height:42px;
}
#u873 {
  position:absolute;
  left:2px;
  top:13px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874 {
  position:absolute;
  left:24px;
  top:341px;
  width:367px;
  height:113px;
}
#u874_input {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:113px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u875 {
  position:absolute;
  left:125px;
  top:500px;
  width:140px;
  height:30px;
}
#u875_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:30px;
}
#u876 {
  position:absolute;
  left:89px;
  top:137px;
  width:286px;
  height:30px;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u878 {
  position:absolute;
  left:89px;
  top:185px;
  width:25px;
  height:25px;
}
#u879 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:15px;
}
#u880 {
  position:absolute;
  left:129px;
  top:190px;
  width:196px;
  height:15px;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
