body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1132 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  overflow:hidden;
}
#u1132_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1132_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1133 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
}
#u1134 {
  position:absolute;
  left:2px;
  top:350px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u1135 {
  position:absolute;
  left:0px;
  top:657px;
  width:414px;
  height:60px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u1136 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u1137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1138 {
  position:absolute;
  left:76px;
  top:521px;
  width:61px;
  height:61px;
}
#u1139 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1140 {
  position:absolute;
  left:177px;
  top:521px;
  width:61px;
  height:61px;
}
#u1141 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1142 {
  position:absolute;
  left:278px;
  top:521px;
  width:61px;
  height:61px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1144 {
  position:absolute;
  left:92px;
  top:537px;
  width:30px;
  height:30px;
}
#u1145 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1146 {
  position:absolute;
  left:193px;
  top:537px;
  width:30px;
  height:30px;
}
#u1147 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1148 {
  position:absolute;
  left:294px;
  top:537px;
  width:30px;
  height:30px;
}
#u1149 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u1150 {
  position:absolute;
  left:94px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1151 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u1152 {
  position:absolute;
  left:195px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1153 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u1154 {
  position:absolute;
  left:296px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1155 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1156 {
  position:absolute;
  left:157px;
  top:657px;
  width:100px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1157 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u1158 {
  position:absolute;
  left:79px;
  top:195px;
  width:99px;
  height:99px;
}
#u1159 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1160 {
  position:absolute;
  left:188px;
  top:226px;
  width:148px;
  height:38px;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u1161 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u1162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1162 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
}
#u1163 {
  position:absolute;
  left:2px;
  top:351px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1164 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1165 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u1166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1166 {
  position:absolute;
  left:16px;
  top:12px;
  width:22px;
  height:22px;
}
#u1167 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1168 {
  position:absolute;
  left:0px;
  top:65px;
  width:414px;
  height:183px;
}
#u1169 {
  position:absolute;
  left:2px;
  top:84px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u1170 {
  position:absolute;
  left:20px;
  top:82px;
  width:51px;
  height:51px;
}
#u1171 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:14px;
}
#u1172 {
  position:absolute;
  left:89px;
  top:82px;
  width:64px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1173 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
}
#u1174 {
  position:absolute;
  left:89px;
  top:106px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u1175 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:30px;
}
#u1176 {
  position:absolute;
  left:89px;
  top:130px;
  width:286px;
  height:30px;
}
#u1177 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u1178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u1178 {
  position:absolute;
  left:89px;
  top:174px;
  width:64px;
  height:64px;
}
#u1179 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u1180 {
  position:absolute;
  left:163px;
  top:174px;
  width:64px;
  height:64px;
}
#u1181 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u1182 {
  position:absolute;
  left:237px;
  top:174px;
  width:64px;
  height:64px;
}
#u1183 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:217px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1184 {
  position:absolute;
  left:0px;
  top:258px;
  width:414px;
  height:217px;
}
#u1185 {
  position:absolute;
  left:2px;
  top:100px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:42px;
}
#u1186 {
  position:absolute;
  left:69px;
  top:284px;
  width:277px;
  height:42px;
}
#u1187 {
  position:absolute;
  left:2px;
  top:13px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188 {
  position:absolute;
  left:24px;
  top:341px;
  width:367px;
  height:113px;
}
#u1188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:113px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1189 {
  position:absolute;
  left:125px;
  top:500px;
  width:140px;
  height:30px;
}
#u1189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
