body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:405px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3983 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  overflow:hidden;
}
#u3983_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3983_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3984 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
}
#u3985 {
  position:absolute;
  left:2px;
  top:350px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u3986 {
  position:absolute;
  left:0px;
  top:657px;
  width:414px;
  height:60px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u3987 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u3988 {
  position:absolute;
  left:157px;
  top:657px;
  width:100px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u3990 {
  position:absolute;
  left:79px;
  top:195px;
  width:99px;
  height:99px;
}
#u3991 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u3992 {
  position:absolute;
  left:188px;
  top:226px;
  width:148px;
  height:38px;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u3993 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u3995 {
  position:absolute;
  left:28px;
  top:521px;
  width:61px;
  height:61px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u3997 {
  position:absolute;
  left:129px;
  top:521px;
  width:61px;
  height:61px;
}
#u3998 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u3999 {
  position:absolute;
  left:230px;
  top:521px;
  width:61px;
  height:61px;
}
#u4000 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4001 {
  position:absolute;
  left:44px;
  top:537px;
  width:30px;
  height:30px;
}
#u4002 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4003 {
  position:absolute;
  left:145px;
  top:537px;
  width:30px;
  height:30px;
}
#u4004 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4005 {
  position:absolute;
  left:246px;
  top:537px;
  width:30px;
  height:30px;
}
#u4006 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u4007 {
  position:absolute;
  left:46px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4008 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u4009 {
  position:absolute;
  left:147px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4010 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u4011 {
  position:absolute;
  left:248px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u4013 {
  position:absolute;
  left:326px;
  top:521px;
  width:61px;
  height:61px;
}
#u4014 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4015 {
  position:absolute;
  left:346px;
  top:537px;
  width:30px;
  height:30px;
}
#u4016 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u4017 {
  position:absolute;
  left:344px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4018 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4019 {
  position:absolute;
  left:28px;
  top:521px;
  width:61px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:673px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4020 {
  position:absolute;
  left:0px;
  top:45px;
  width:414px;
  height:673px;
}
#u4021 {
  position:absolute;
  left:2px;
  top:328px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4022 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4023 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u4024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4024 {
  position:absolute;
  left:16px;
  top:12px;
  width:22px;
  height:22px;
}
#u4025 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:96px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.749019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4026 {
  position:absolute;
  left:-9px;
  top:46px;
  width:421px;
  height:96px;
}
#u4027 {
  position:absolute;
  left:2px;
  top:40px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u4028 {
  position:absolute;
  left:35px;
  top:66px;
  width:55px;
  height:55px;
}
#u4029 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4030 {
  position:absolute;
  left:115px;
  top:73px;
  width:30px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4031 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4032 {
  position:absolute;
  left:115px;
  top:102px;
  width:116px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u4034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:41px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4035 {
  position:absolute;
  left:0px;
  top:353px;
  width:414px;
  height:41px;
  text-align:left;
}
#u4036 {
  position:absolute;
  left:2px;
  top:13px;
  width:410px;
  word-wrap:break-word;
}
#u4037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4037 {
  position:absolute;
  left:0px;
  top:394px;
  width:104px;
  height:100px;
}
#u4038 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4039 {
  position:absolute;
  left:104px;
  top:394px;
  width:104px;
  height:100px;
}
#u4040 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4041 {
  position:absolute;
  left:207px;
  top:394px;
  width:104px;
  height:100px;
}
#u4042 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4043 {
  position:absolute;
  left:309px;
  top:394px;
  width:104px;
  height:100px;
}
#u4044 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u4045 {
  position:absolute;
  left:24px;
  top:404px;
  width:57px;
  height:57px;
}
#u4046 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u4047 {
  position:absolute;
  left:33px;
  top:464px;
  width:39px;
  height:15px;
}
#u4048 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u4049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u4049 {
  position:absolute;
  left:138px;
  top:417px;
  width:37px;
  height:37px;
}
#u4050 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u4051 {
  position:absolute;
  left:131px;
  top:464px;
  width:52px;
  height:15px;
}
#u4052 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4053 {
  position:absolute;
  left:244px;
  top:422px;
  width:32px;
  height:32px;
}
#u4054 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u4055 {
  position:absolute;
  left:234px;
  top:464px;
  width:52px;
  height:15px;
}
#u4056 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u4057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u4057 {
  position:absolute;
  left:333px;
  top:404px;
  width:57px;
  height:57px;
}
#u4058 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u4059 {
  position:absolute;
  left:344px;
  top:464px;
  width:36px;
  height:15px;
}
#u4060 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:41px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4061 {
  position:absolute;
  left:0px;
  top:152px;
  width:414px;
  height:41px;
  text-align:left;
}
#u4062 {
  position:absolute;
  left:2px;
  top:13px;
  width:410px;
  word-wrap:break-word;
}
#u4063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4063 {
  position:absolute;
  left:16px;
  top:160px;
  width:25px;
  height:25px;
}
#u4064 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4065 {
  position:absolute;
  left:0px;
  top:194px;
  width:414px;
  height:149px;
}
#u4066 {
  position:absolute;
  left:2px;
  top:66px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u4067 {
  position:absolute;
  left:29px;
  top:213px;
  width:27px;
  height:15px;
}
#u4068 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u4069 {
  position:absolute;
  left:29px;
  top:261px;
  width:27px;
  height:15px;
}
#u4070 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u4071 {
  position:absolute;
  left:29px;
  top:308px;
  width:52px;
  height:15px;
}
#u4072 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u4073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u4073 {
  position:absolute;
  left:29px;
  top:244px;
  width:351px;
  height:1px;
}
#u4074 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u4075 {
  position:absolute;
  left:29px;
  top:291px;
  width:351px;
  height:1px;
}
#u4076 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u4077 {
  position:absolute;
  left:361px;
  top:211px;
  width:19px;
  height:19px;
}
#u4078 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u4079 {
  position:absolute;
  left:361px;
  top:259px;
  width:19px;
  height:19px;
}
#u4080 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u4081 {
  position:absolute;
  left:361px;
  top:306px;
  width:19px;
  height:19px;
}
#u4082 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u4083 {
  position:absolute;
  left:320px;
  top:213px;
  width:27px;
  height:15px;
  color:#999999;
}
#u4084 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u4085 {
  position:absolute;
  left:267px;
  top:261px;
  width:80px;
  height:15px;
  color:#999999;
}
#u4086 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u4087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u4087 {
  position:absolute;
  left:260px;
  top:308px;
  width:87px;
  height:15px;
  color:#999999;
}
#u4088 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
