body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:405px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2071 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  overflow:hidden;
}
#u2071_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2071_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:350px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u2074 {
  position:absolute;
  left:0px;
  top:657px;
  width:414px;
  height:60px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u2075 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u2076 {
  position:absolute;
  left:157px;
  top:657px;
  width:100px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u2078 {
  position:absolute;
  left:79px;
  top:195px;
  width:99px;
  height:99px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u2080 {
  position:absolute;
  left:188px;
  top:226px;
  width:148px;
  height:38px;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u2083 {
  position:absolute;
  left:28px;
  top:521px;
  width:61px;
  height:61px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u2085 {
  position:absolute;
  left:129px;
  top:521px;
  width:61px;
  height:61px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u2087 {
  position:absolute;
  left:230px;
  top:521px;
  width:61px;
  height:61px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2089 {
  position:absolute;
  left:44px;
  top:537px;
  width:30px;
  height:30px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2091 {
  position:absolute;
  left:145px;
  top:537px;
  width:30px;
  height:30px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2093 {
  position:absolute;
  left:246px;
  top:537px;
  width:30px;
  height:30px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u2095 {
  position:absolute;
  left:46px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u2097 {
  position:absolute;
  left:147px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2098 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u2099 {
  position:absolute;
  left:248px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2100 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u2101 {
  position:absolute;
  left:326px;
  top:521px;
  width:61px;
  height:61px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2103 {
  position:absolute;
  left:346px;
  top:537px;
  width:30px;
  height:30px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u2105 {
  position:absolute;
  left:344px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2106 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2107 {
  position:absolute;
  left:28px;
  top:521px;
  width:61px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:673px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2108 {
  position:absolute;
  left:0px;
  top:45px;
  width:414px;
  height:673px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:328px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u2110 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u2111 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2112 {
  position:absolute;
  left:16px;
  top:12px;
  width:22px;
  height:22px;
}
#u2113 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:96px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.749019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2114 {
  position:absolute;
  left:-9px;
  top:46px;
  width:421px;
  height:96px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:40px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u2116 {
  position:absolute;
  left:35px;
  top:66px;
  width:55px;
  height:55px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2118 {
  position:absolute;
  left:115px;
  top:73px;
  width:30px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2119 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2120 {
  position:absolute;
  left:115px;
  top:102px;
  width:116px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u2122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:41px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2123 {
  position:absolute;
  left:0px;
  top:353px;
  width:414px;
  height:41px;
  text-align:left;
}
#u2124 {
  position:absolute;
  left:2px;
  top:13px;
  width:410px;
  word-wrap:break-word;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2125 {
  position:absolute;
  left:0px;
  top:394px;
  width:104px;
  height:100px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2127 {
  position:absolute;
  left:104px;
  top:394px;
  width:104px;
  height:100px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2129 {
  position:absolute;
  left:207px;
  top:394px;
  width:104px;
  height:100px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2131 {
  position:absolute;
  left:309px;
  top:394px;
  width:104px;
  height:100px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u2133 {
  position:absolute;
  left:24px;
  top:404px;
  width:57px;
  height:57px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u2135 {
  position:absolute;
  left:33px;
  top:464px;
  width:39px;
  height:15px;
}
#u2136 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u2137 {
  position:absolute;
  left:138px;
  top:417px;
  width:37px;
  height:37px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u2139 {
  position:absolute;
  left:131px;
  top:464px;
  width:52px;
  height:15px;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2141 {
  position:absolute;
  left:244px;
  top:422px;
  width:32px;
  height:32px;
}
#u2142 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u2143 {
  position:absolute;
  left:234px;
  top:464px;
  width:52px;
  height:15px;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u2145 {
  position:absolute;
  left:333px;
  top:404px;
  width:57px;
  height:57px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u2147 {
  position:absolute;
  left:344px;
  top:464px;
  width:36px;
  height:15px;
}
#u2148 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:41px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2149 {
  position:absolute;
  left:0px;
  top:152px;
  width:414px;
  height:41px;
  text-align:left;
}
#u2150 {
  position:absolute;
  left:2px;
  top:13px;
  width:410px;
  word-wrap:break-word;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2151 {
  position:absolute;
  left:16px;
  top:160px;
  width:25px;
  height:25px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2153 {
  position:absolute;
  left:0px;
  top:194px;
  width:414px;
  height:149px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:66px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u2155 {
  position:absolute;
  left:29px;
  top:213px;
  width:27px;
  height:15px;
}
#u2156 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u2157 {
  position:absolute;
  left:29px;
  top:261px;
  width:52px;
  height:15px;
}
#u2158 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u2159 {
  position:absolute;
  left:24px;
  top:282px;
  width:14px;
  height:16px;
}
#u2160 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u2161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u2161 {
  position:absolute;
  left:29px;
  top:308px;
  width:52px;
  height:15px;
}
#u2162 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u2163 {
  position:absolute;
  left:29px;
  top:244px;
  width:351px;
  height:1px;
}
#u2164 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u2165 {
  position:absolute;
  left:29px;
  top:291px;
  width:351px;
  height:1px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2167 {
  position:absolute;
  left:361px;
  top:211px;
  width:19px;
  height:19px;
}
#u2168 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2169 {
  position:absolute;
  left:361px;
  top:259px;
  width:19px;
  height:19px;
}
#u2170 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2171 {
  position:absolute;
  left:361px;
  top:306px;
  width:19px;
  height:19px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u2173 {
  position:absolute;
  left:286px;
  top:213px;
  width:52px;
  height:15px;
  color:#999999;
}
#u2174 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
}
#u2175 {
  position:absolute;
  left:196px;
  top:261px;
  width:151px;
  height:15px;
  color:#999999;
}
#u2176 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u2177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u2177 {
  position:absolute;
  left:308px;
  top:308px;
  width:39px;
  height:15px;
  color:#999999;
}
#u2178 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
