body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
}
#u215 {
  position:absolute;
  left:2px;
  top:351px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u217 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u218 {
  position:absolute;
  left:16px;
  top:12px;
  width:22px;
  height:22px;
}
#u219 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:0px;
  top:45px;
  width:414px;
  height:673px;
  overflow:hidden;
}
#u220_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:673px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u220_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:151px;
}
#u221 {
  position:absolute;
  left:29px;
  top:72px;
  width:345px;
  height:151px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u224 {
  position:absolute;
  left:138px;
  top:15px;
  width:39px;
  height:39px;
}
#u225 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
}
#u226 {
  position:absolute;
  left:173px;
  top:22px;
  width:92px;
  height:24px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u229 {
  position:absolute;
  left:138px;
  top:259px;
  width:39px;
  height:39px;
  color:#508CEE;
}
#u230 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
}
#u231 {
  position:absolute;
  left:173px;
  top:266px;
  width:92px;
  height:24px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:148px;
}
#u233 {
  position:absolute;
  left:29px;
  top:336px;
  width:114px;
  height:148px;
}
#u234 {
  position:absolute;
  left:2px;
  top:66px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:91px;
}
#u235 {
  position:absolute;
  left:162px;
  top:372px;
  width:212px;
  height:91px;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u237 {
  position:absolute;
  left:162px;
  top:336px;
  width:50px;
  height:22px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:148px;
}
#u239 {
  position:absolute;
  left:29px;
  top:520px;
  width:114px;
  height:148px;
}
#u240 {
  position:absolute;
  left:2px;
  top:66px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:137px;
}
#u241 {
  position:absolute;
  left:162px;
  top:552px;
  width:212px;
  height:137px;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u243 {
  position:absolute;
  left:162px;
  top:520px;
  width:50px;
  height:22px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
}
#u245 {
  position:absolute;
  left:142px;
  top:727px;
  width:115px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
