body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
}
#u239 {
  position:absolute;
  left:2px;
  top:351px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u241 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u242 {
  position:absolute;
  left:16px;
  top:12px;
  width:22px;
  height:22px;
}
#u243 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:0px;
  top:45px;
  width:414px;
  height:673px;
  overflow:hidden;
}
#u244_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:673px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u244_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:151px;
}
#u245 {
  position:absolute;
  left:29px;
  top:71px;
  width:345px;
  height:151px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u248 {
  position:absolute;
  left:138px;
  top:14px;
  width:39px;
  height:39px;
}
#u249 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
}
#u250 {
  position:absolute;
  left:173px;
  top:21px;
  width:92px;
  height:24px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u253 {
  position:absolute;
  left:138px;
  top:263px;
  width:39px;
  height:39px;
  color:#508CEE;
}
#u254 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
}
#u255 {
  position:absolute;
  left:173px;
  top:270px;
  width:92px;
  height:24px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:148px;
}
#u257 {
  position:absolute;
  left:29px;
  top:353px;
  width:114px;
  height:148px;
}
#u258 {
  position:absolute;
  left:2px;
  top:66px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:91px;
}
#u259 {
  position:absolute;
  left:162px;
  top:376px;
  width:212px;
  height:91px;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u261 {
  position:absolute;
  left:162px;
  top:340px;
  width:50px;
  height:22px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:148px;
}
#u263 {
  position:absolute;
  left:29px;
  top:551px;
  width:114px;
  height:148px;
}
#u264 {
  position:absolute;
  left:2px;
  top:66px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:137px;
}
#u265 {
  position:absolute;
  left:162px;
  top:569px;
  width:212px;
  height:137px;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u267 {
  position:absolute;
  left:162px;
  top:537px;
  width:50px;
  height:22px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
}
#u269 {
  position:absolute;
  left:142px;
  top:744px;
  width:115px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u271 {
  position:absolute;
  left:0px;
  top:249px;
  width:414px;
  height:1px;
}
#u272 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u273 {
  position:absolute;
  left:29px;
  top:521px;
  width:345px;
  height:1px;
}
#u274 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
