body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1332px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:351px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u2065 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:17px;
}
#u2066 {
  position:absolute;
  left:19px;
  top:14px;
  width:27px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2068 {
  position:absolute;
  left:351px;
  top:13px;
  width:45px;
  height:20px;
}
#u2068_input {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2069 {
  position:absolute;
  left:0px;
  top:45px;
  width:414px;
  height:177px;
}
#u2069_input {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:177px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2070 {
  position:absolute;
  left:0px;
  top:267px;
  width:414px;
  height:1px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2072 {
  position:absolute;
  left:24px;
  top:232px;
  width:25px;
  height:25px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2074 {
  position:absolute;
  left:0px;
  top:357px;
  width:414px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2075 {
  position:absolute;
  left:2px;
  top:11px;
  width:410px;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2076 {
  position:absolute;
  left:367px;
  top:363px;
  width:29px;
  height:29px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078 {
  position:absolute;
  left:0px;
  top:358px;
  width:414px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2079 {
  position:absolute;
  left:107px;
  top:309px;
  width:70px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2080 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2081 {
  position:absolute;
  left:187px;
  top:309px;
  width:70px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2082 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2083 {
  position:absolute;
  left:66px;
  top:234px;
  width:23px;
  height:23px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u2085 {
  position:absolute;
  left:105px;
  top:232px;
  width:27px;
  height:27px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2087 {
  position:absolute;
  left:26px;
  top:309px;
  width:70px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2088 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:17px;
}
#u2089 {
  position:absolute;
  left:24px;
  top:282px;
  width:214px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2091 {
  position:absolute;
  left:898px;
  top:84px;
  width:434px;
  height:238px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2092 {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  white-space:nowrap;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2093 {
  position:absolute;
  left:452px;
  top:0px;
  width:414px;
  height:718px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:351px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u2095 {
  position:absolute;
  left:452px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u2096 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:17px;
}
#u2097 {
  position:absolute;
  left:471px;
  top:14px;
  width:27px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u2098 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2099 {
  position:absolute;
  left:803px;
  top:13px;
  width:45px;
  height:20px;
}
#u2099_input {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2100 {
  position:absolute;
  left:452px;
  top:45px;
  width:414px;
  height:177px;
}
#u2100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:177px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u2101 {
  position:absolute;
  left:452px;
  top:267px;
  width:414px;
  height:1px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2103 {
  position:absolute;
  left:476px;
  top:232px;
  width:25px;
  height:25px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2105 {
  position:absolute;
  left:452px;
  top:451px;
  width:414px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2106 {
  position:absolute;
  left:2px;
  top:11px;
  width:410px;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2107 {
  position:absolute;
  left:819px;
  top:457px;
  width:29px;
  height:29px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109 {
  position:absolute;
  left:452px;
  top:452px;
  width:414px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2110 {
  position:absolute;
  left:559px;
  top:403px;
  width:70px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2111 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2112 {
  position:absolute;
  left:639px;
  top:403px;
  width:70px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2113 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2114 {
  position:absolute;
  left:518px;
  top:234px;
  width:23px;
  height:23px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u2116 {
  position:absolute;
  left:557px;
  top:232px;
  width:27px;
  height:27px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2118 {
  position:absolute;
  left:478px;
  top:403px;
  width:70px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2119 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:17px;
}
#u2120 {
  position:absolute;
  left:476px;
  top:376px;
  width:214px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:85px;
}
#u2122 {
  position:absolute;
  left:476px;
  top:274px;
  width:90px;
  height:85px;
}
#u2123 {
  position:absolute;
  left:2px;
  top:34px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2124 {
  position:absolute;
  left:544px;
  top:274px;
  width:22px;
  height:22px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2126 {
  position:absolute;
  left:454px;
  top:376px;
  width:22px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2127 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
