body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:851px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2032 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  overflow:hidden;
}
#u2032_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2032_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2033 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:350px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u2035 {
  position:absolute;
  left:0px;
  top:657px;
  width:414px;
  height:60px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u2036 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u2038 {
  position:absolute;
  left:76px;
  top:521px;
  width:61px;
  height:61px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u2040 {
  position:absolute;
  left:177px;
  top:521px;
  width:61px;
  height:61px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u2042 {
  position:absolute;
  left:278px;
  top:521px;
  width:61px;
  height:61px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2044 {
  position:absolute;
  left:92px;
  top:537px;
  width:30px;
  height:30px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2046 {
  position:absolute;
  left:193px;
  top:537px;
  width:30px;
  height:30px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2048 {
  position:absolute;
  left:294px;
  top:537px;
  width:30px;
  height:30px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u2050 {
  position:absolute;
  left:94px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u2052 {
  position:absolute;
  left:195px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2053 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u2054 {
  position:absolute;
  left:296px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2056 {
  position:absolute;
  left:157px;
  top:657px;
  width:100px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u2058 {
  position:absolute;
  left:79px;
  top:195px;
  width:99px;
  height:99px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u2060 {
  position:absolute;
  left:188px;
  top:226px;
  width:148px;
  height:38px;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:351px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u2065 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2066 {
  position:absolute;
  left:16px;
  top:12px;
  width:22px;
  height:22px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2068 {
  position:absolute;
  left:0px;
  top:65px;
  width:414px;
  height:183px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:84px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u2070 {
  position:absolute;
  left:20px;
  top:82px;
  width:51px;
  height:51px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:14px;
}
#u2072 {
  position:absolute;
  left:89px;
  top:82px;
  width:55px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
}
#u2074 {
  position:absolute;
  left:89px;
  top:106px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:217px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2076 {
  position:absolute;
  left:0px;
  top:258px;
  width:414px;
  height:217px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:100px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:42px;
}
#u2078 {
  position:absolute;
  left:69px;
  top:284px;
  width:277px;
  height:42px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:13px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2080 {
  position:absolute;
  left:24px;
  top:341px;
  width:367px;
  height:113px;
}
#u2080_input {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:113px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2081 {
  position:absolute;
  left:125px;
  top:500px;
  width:140px;
  height:30px;
}
#u2081_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:30px;
}
#u2082 {
  position:absolute;
  left:89px;
  top:137px;
  width:286px;
  height:30px;
}
#u2083 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2084 {
  position:absolute;
  left:450px;
  top:23px;
  width:401px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u2086 {
  position:absolute;
  left:89px;
  top:177px;
  width:90px;
  height:48px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:48px;
}
#u2088 {
  position:absolute;
  left:189px;
  top:177px;
  width:90px;
  height:48px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
