body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u796 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
}
#u797 {
  position:absolute;
  left:2px;
  top:351px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u798 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u799 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u800 {
  position:absolute;
  left:16px;
  top:12px;
  width:22px;
  height:22px;
}
#u801 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802 {
  position:absolute;
  left:0px;
  top:45px;
  width:414px;
  height:673px;
  overflow:hidden;
}
#u802_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:673px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u802_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:151px;
}
#u803 {
  position:absolute;
  left:29px;
  top:71px;
  width:345px;
  height:151px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u804 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u805 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u806 {
  position:absolute;
  left:138px;
  top:14px;
  width:39px;
  height:39px;
}
#u807 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
}
#u808 {
  position:absolute;
  left:173px;
  top:21px;
  width:92px;
  height:24px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u809 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u810 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u811 {
  position:absolute;
  left:138px;
  top:263px;
  width:39px;
  height:39px;
  color:#508CEE;
}
#u812 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
}
#u813 {
  position:absolute;
  left:173px;
  top:270px;
  width:92px;
  height:24px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u814 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:148px;
}
#u815 {
  position:absolute;
  left:29px;
  top:353px;
  width:114px;
  height:148px;
}
#u816 {
  position:absolute;
  left:2px;
  top:66px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:91px;
}
#u817 {
  position:absolute;
  left:162px;
  top:376px;
  width:212px;
  height:91px;
}
#u818 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u819 {
  position:absolute;
  left:162px;
  top:340px;
  width:50px;
  height:22px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u820 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:148px;
}
#u821 {
  position:absolute;
  left:29px;
  top:551px;
  width:114px;
  height:148px;
}
#u822 {
  position:absolute;
  left:2px;
  top:66px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:137px;
}
#u823 {
  position:absolute;
  left:162px;
  top:569px;
  width:212px;
  height:137px;
}
#u824 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u825 {
  position:absolute;
  left:162px;
  top:537px;
  width:50px;
  height:22px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u826 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
}
#u827 {
  position:absolute;
  left:142px;
  top:744px;
  width:115px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u829 {
  position:absolute;
  left:0px;
  top:249px;
  width:414px;
  height:1px;
}
#u830 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u831 {
  position:absolute;
  left:29px;
  top:521px;
  width:345px;
  height:1px;
}
#u832 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
