body {
  margin:0px;
  background-color:rgba(234, 234, 234, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:17px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
}
#u1990 {
  position:absolute;
  left:78px;
  top:13px;
  width:47px;
  height:25px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:42px;
}
#u1992 {
  position:absolute;
  left:142px;
  top:6px;
  width:2px;
  height:39px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#27B0F2;
}
#u1994 {
  position:absolute;
  left:160px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#27B0F2;
}
#u1995 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1996 {
  position:absolute;
  left:1272px;
  top:8px;
  width:35px;
  height:35px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1998 {
  position:absolute;
  left:1320px;
  top:15px;
  width:30px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2000 {
  position:absolute;
  left:1355px;
  top:21px;
  width:10px;
  height:10px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2002 {
  position:absolute;
  left:473px;
  top:-1px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2003 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u2004 {
  position:absolute;
  left:349px;
  top:-1px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2005 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:726px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2006 {
  position:absolute;
  left:22px;
  top:67px;
  width:221px;
  height:726px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:355px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:726px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2008 {
  position:absolute;
  left:253px;
  top:67px;
  width:1165px;
  height:726px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:355px;
  width:1161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2010 {
  position:absolute;
  left:276px;
  top:85px;
  width:59px;
  height:15px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2011 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:2px;
}
#u2012 {
  position:absolute;
  left:253px;
  top:115px;
  width:1165px;
  height:1px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u2014 {
  position:absolute;
  left:49px;
  top:83px;
  width:27px;
  height:27px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2016 {
  position:absolute;
  left:86px;
  top:87px;
  width:87px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2017 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:53px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2018 {
  position:absolute;
  left:22px;
  top:126px;
  width:221px;
  height:53px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2019 {
  position:absolute;
  left:2px;
  top:17px;
  width:217px;
  word-wrap:break-word;
}
#u2020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2020 {
  position:absolute;
  left:22px;
  top:179px;
  width:221px;
  height:53px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2021 {
  position:absolute;
  left:2px;
  top:17px;
  width:217px;
  word-wrap:break-word;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2022 {
  position:absolute;
  left:22px;
  top:232px;
  width:221px;
  height:53px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2023 {
  position:absolute;
  left:2px;
  top:17px;
  width:217px;
  word-wrap:break-word;
}
#u2024 {
  position:absolute;
  left:273px;
  top:140px;
  width:1131px;
  height:455px;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
#u2025 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2026 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
#u2027 {
  position:absolute;
  left:188px;
  top:0px;
  width:188px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2028 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  word-wrap:break-word;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
#u2029 {
  position:absolute;
  left:376px;
  top:0px;
  width:188px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2030 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  word-wrap:break-word;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
#u2031 {
  position:absolute;
  left:564px;
  top:0px;
  width:188px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2032 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  word-wrap:break-word;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
}
#u2033 {
  position:absolute;
  left:752px;
  top:0px;
  width:188px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2034 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:50px;
}
#u2035 {
  position:absolute;
  left:940px;
  top:0px;
  width:186px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2036 {
  position:absolute;
  left:2px;
  top:18px;
  width:182px;
  word-wrap:break-word;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2037 {
  position:absolute;
  left:0px;
  top:50px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2039 {
  position:absolute;
  left:188px;
  top:50px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2041 {
  position:absolute;
  left:376px;
  top:50px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2043 {
  position:absolute;
  left:564px;
  top:50px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2045 {
  position:absolute;
  left:752px;
  top:50px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u2047 {
  position:absolute;
  left:940px;
  top:50px;
  width:186px;
  height:40px;
  color:#3366CC;
}
#u2048 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2049 {
  position:absolute;
  left:0px;
  top:90px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2051 {
  position:absolute;
  left:188px;
  top:90px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2053 {
  position:absolute;
  left:376px;
  top:90px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2055 {
  position:absolute;
  left:564px;
  top:90px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2057 {
  position:absolute;
  left:752px;
  top:90px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u2059 {
  position:absolute;
  left:940px;
  top:90px;
  width:186px;
  height:40px;
  color:#3366CC;
}
#u2060 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2061 {
  position:absolute;
  left:0px;
  top:130px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2063 {
  position:absolute;
  left:188px;
  top:130px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2065 {
  position:absolute;
  left:376px;
  top:130px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2067 {
  position:absolute;
  left:564px;
  top:130px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2069 {
  position:absolute;
  left:752px;
  top:130px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u2071 {
  position:absolute;
  left:940px;
  top:130px;
  width:186px;
  height:40px;
  color:#3366CC;
}
#u2072 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2073 {
  position:absolute;
  left:0px;
  top:170px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2075 {
  position:absolute;
  left:188px;
  top:170px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2077 {
  position:absolute;
  left:376px;
  top:170px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2079 {
  position:absolute;
  left:564px;
  top:170px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2081 {
  position:absolute;
  left:752px;
  top:170px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u2083 {
  position:absolute;
  left:940px;
  top:170px;
  width:186px;
  height:40px;
  color:#3366CC;
}
#u2084 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2085 {
  position:absolute;
  left:0px;
  top:210px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2087 {
  position:absolute;
  left:188px;
  top:210px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2089 {
  position:absolute;
  left:376px;
  top:210px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2091 {
  position:absolute;
  left:564px;
  top:210px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2093 {
  position:absolute;
  left:752px;
  top:210px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u2095 {
  position:absolute;
  left:940px;
  top:210px;
  width:186px;
  height:40px;
  color:#3366CC;
}
#u2096 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2097 {
  position:absolute;
  left:0px;
  top:250px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2099 {
  position:absolute;
  left:188px;
  top:250px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2101 {
  position:absolute;
  left:376px;
  top:250px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2103 {
  position:absolute;
  left:564px;
  top:250px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2105 {
  position:absolute;
  left:752px;
  top:250px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u2107 {
  position:absolute;
  left:940px;
  top:250px;
  width:186px;
  height:40px;
  color:#3366CC;
}
#u2108 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2109 {
  position:absolute;
  left:0px;
  top:290px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2110 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2111 {
  position:absolute;
  left:188px;
  top:290px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2113 {
  position:absolute;
  left:376px;
  top:290px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2115 {
  position:absolute;
  left:564px;
  top:290px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2117 {
  position:absolute;
  left:752px;
  top:290px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u2119 {
  position:absolute;
  left:940px;
  top:290px;
  width:186px;
  height:40px;
  color:#3366CC;
}
#u2120 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2121 {
  position:absolute;
  left:0px;
  top:330px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2123 {
  position:absolute;
  left:188px;
  top:330px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2125 {
  position:absolute;
  left:376px;
  top:330px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2127 {
  position:absolute;
  left:564px;
  top:330px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2129 {
  position:absolute;
  left:752px;
  top:330px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u2131 {
  position:absolute;
  left:940px;
  top:330px;
  width:186px;
  height:40px;
  color:#3366CC;
}
#u2132 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2133 {
  position:absolute;
  left:0px;
  top:370px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2135 {
  position:absolute;
  left:188px;
  top:370px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2137 {
  position:absolute;
  left:376px;
  top:370px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2139 {
  position:absolute;
  left:564px;
  top:370px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2140 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2141 {
  position:absolute;
  left:752px;
  top:370px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2142 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u2143 {
  position:absolute;
  left:940px;
  top:370px;
  width:186px;
  height:40px;
  color:#3366CC;
}
#u2144 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:410px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2147 {
  position:absolute;
  left:188px;
  top:410px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2149 {
  position:absolute;
  left:376px;
  top:410px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2150 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2151 {
  position:absolute;
  left:564px;
  top:410px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u2153 {
  position:absolute;
  left:752px;
  top:410px;
  width:188px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u2155 {
  position:absolute;
  left:940px;
  top:410px;
  width:186px;
  height:40px;
  color:#000000;
}
#u2156 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u2157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2157 {
  position:absolute;
  left:1324px;
  top:78px;
  width:75px;
  height:30px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:309px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2159 {
  position:absolute;
  left:22px;
  top:813px;
  width:796px;
  height:309px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:146px;
  width:792px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2161 {
  position:absolute;
  left:46px;
  top:832px;
  width:87px;
  height:15px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2162 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:2px;
}
#u2163 {
  position:absolute;
  left:22px;
  top:867px;
  width:796px;
  height:1px;
}
#u2164 {
  position:absolute;
  left:2px;
  top:-8px;
  width:792px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u2165 {
  position:absolute;
  left:63px;
  top:905px;
  width:63px;
  height:15px;
}
#u2166 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u2167 {
  position:absolute;
  left:307px;
  top:1069px;
  width:105px;
  height:30px;
}
#u2167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2168 {
  position:absolute;
  left:429px;
  top:1069px;
  width:105px;
  height:30px;
}
#u2168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2169 {
  position:absolute;
  left:148px;
  top:895px;
  width:339px;
  height:35px;
}
#u2169_input {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2169_input:disabled {
  color:grayText;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u2170 {
  position:absolute;
  left:89px;
  top:956px;
  width:37px;
  height:15px;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2172 {
  position:absolute;
  left:148px;
  top:954px;
  width:100px;
  height:16px;
}
#u2173 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2172_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2174 {
  position:absolute;
  left:248px;
  top:953px;
  width:100px;
  height:16px;
}
#u2175 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2174_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u2176 {
  position:absolute;
  left:89px;
  top:1006px;
  width:37px;
  height:15px;
}
#u2177 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2178 {
  position:absolute;
  left:148px;
  top:996px;
  width:156px;
  height:35px;
}
#u2178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2179 {
  position:absolute;
  left:331px;
  top:996px;
  width:156px;
  height:35px;
}
#u2179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:309px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2180 {
  position:absolute;
  left:22px;
  top:1137px;
  width:796px;
  height:309px;
}
#u2181 {
  position:absolute;
  left:2px;
  top:146px;
  width:792px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2182 {
  position:absolute;
  left:46px;
  top:1156px;
  width:87px;
  height:15px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:2px;
}
#u2184 {
  position:absolute;
  left:22px;
  top:1191px;
  width:796px;
  height:1px;
}
#u2185 {
  position:absolute;
  left:2px;
  top:-8px;
  width:792px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u2186 {
  position:absolute;
  left:63px;
  top:1229px;
  width:63px;
  height:15px;
}
#u2187 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u2188 {
  position:absolute;
  left:307px;
  top:1393px;
  width:105px;
  height:30px;
}
#u2188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2189 {
  position:absolute;
  left:429px;
  top:1393px;
  width:105px;
  height:30px;
}
#u2189_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2190 {
  position:absolute;
  left:148px;
  top:1219px;
  width:339px;
  height:35px;
}
#u2190_input {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2190_input:disabled {
  color:grayText;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u2191 {
  position:absolute;
  left:89px;
  top:1280px;
  width:37px;
  height:15px;
}
#u2192 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2193 {
  position:absolute;
  left:148px;
  top:1278px;
  width:100px;
  height:16px;
}
#u2194 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2193_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2195 {
  position:absolute;
  left:248px;
  top:1277px;
  width:100px;
  height:16px;
}
#u2196 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2195_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u2197 {
  position:absolute;
  left:89px;
  top:1330px;
  width:37px;
  height:15px;
}
#u2198 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2199 {
  position:absolute;
  left:148px;
  top:1320px;
  width:156px;
  height:35px;
}
#u2199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2200 {
  position:absolute;
  left:331px;
  top:1320px;
  width:156px;
  height:35px;
}
#u2200_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2201 {
  position:absolute;
  left:22px;
  top:285px;
  width:221px;
  height:53px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2202 {
  position:absolute;
  left:2px;
  top:17px;
  width:217px;
  word-wrap:break-word;
}
#u2203 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
}
#u2204 {
  position:absolute;
  left:700px;
  top:633px;
  width:39px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
}
#u2205 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
}
#u2206 {
  position:absolute;
  left:793px;
  top:633px;
  width:39px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#999999;
}
#u2207 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(29, 158, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2208 {
  position:absolute;
  left:754px;
  top:629px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u2209 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  word-wrap:break-word;
}
#u2210 {
  position:absolute;
  left:847px;
  top:629px;
  width:85px;
  height:25px;
}
#u2210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2211 {
  position:absolute;
  left:947px;
  top:629px;
  width:25px;
  height:25px;
}
#u2211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
