body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:674px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:674px;
}
#u181 {
  position:absolute;
  left:2px;
  top:329px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u183 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u184 {
  position:absolute;
  left:16px;
  top:10px;
  width:25px;
  height:25px;
}
#u185 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u186 {
  position:absolute;
  left:0px;
  top:624px;
  width:413px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u187 {
  position:absolute;
  left:2px;
  top:32px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u189 {
  position:absolute;
  left:78px;
  top:629px;
  width:23px;
  height:23px;
}
#u190 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u191 {
  position:absolute;
  left:198px;
  top:629px;
  width:23px;
  height:23px;
}
#u192 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u193 {
  position:absolute;
  left:71px;
  top:654px;
  width:37px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u195 {
  position:absolute;
  left:185px;
  top:654px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u197 {
  position:absolute;
  left:318px;
  top:629px;
  width:23px;
  height:23px;
}
#u198 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u199 {
  position:absolute;
  left:317px;
  top:654px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009900;
  text-align:center;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u201 {
  position:absolute;
  left:60px;
  top:624px;
  width:60px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u202 {
  position:absolute;
  left:180px;
  top:624px;
  width:60px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
