body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:674px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:674px;
}
#u138 {
  position:absolute;
  left:2px;
  top:329px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u140 {
  position:absolute;
  left:2px;
  top:15px;
  width:410px;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u141 {
  position:absolute;
  left:16px;
  top:10px;
  width:25px;
  height:25px;
}
#u142 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u143 {
  position:absolute;
  left:0px;
  top:624px;
  width:413px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u144 {
  position:absolute;
  left:2px;
  top:32px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u146 {
  position:absolute;
  left:78px;
  top:629px;
  width:23px;
  height:23px;
}
#u147 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u148 {
  position:absolute;
  left:198px;
  top:629px;
  width:23px;
  height:23px;
}
#u149 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u150 {
  position:absolute;
  left:71px;
  top:654px;
  width:37px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u152 {
  position:absolute;
  left:185px;
  top:654px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u154 {
  position:absolute;
  left:318px;
  top:629px;
  width:23px;
  height:23px;
}
#u155 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u156 {
  position:absolute;
  left:317px;
  top:654px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009900;
  text-align:center;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:60px;
  top:624px;
  width:60px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u159 {
  position:absolute;
  left:180px;
  top:624px;
  width:60px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
