body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:405px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4119 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  overflow:hidden;
}
#u4119_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4119_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4120 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
}
#u4121 {
  position:absolute;
  left:2px;
  top:350px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u4122 {
  position:absolute;
  left:0px;
  top:657px;
  width:414px;
  height:60px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u4123 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u4124 {
  position:absolute;
  left:157px;
  top:657px;
  width:100px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u4126 {
  position:absolute;
  left:79px;
  top:195px;
  width:99px;
  height:99px;
}
#u4127 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u4128 {
  position:absolute;
  left:188px;
  top:226px;
  width:148px;
  height:38px;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u4129 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u4130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u4131 {
  position:absolute;
  left:28px;
  top:521px;
  width:61px;
  height:61px;
}
#u4132 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u4133 {
  position:absolute;
  left:129px;
  top:521px;
  width:61px;
  height:61px;
}
#u4134 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u4135 {
  position:absolute;
  left:230px;
  top:521px;
  width:61px;
  height:61px;
}
#u4136 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4137 {
  position:absolute;
  left:44px;
  top:537px;
  width:30px;
  height:30px;
}
#u4138 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4139 {
  position:absolute;
  left:145px;
  top:537px;
  width:30px;
  height:30px;
}
#u4140 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4141 {
  position:absolute;
  left:246px;
  top:537px;
  width:30px;
  height:30px;
}
#u4142 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u4143 {
  position:absolute;
  left:46px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4144 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u4145 {
  position:absolute;
  left:147px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4146 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u4147 {
  position:absolute;
  left:248px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4148 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u4149 {
  position:absolute;
  left:326px;
  top:521px;
  width:61px;
  height:61px;
}
#u4150 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4151 {
  position:absolute;
  left:346px;
  top:537px;
  width:30px;
  height:30px;
}
#u4152 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u4153 {
  position:absolute;
  left:344px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4154 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4155 {
  position:absolute;
  left:28px;
  top:521px;
  width:61px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:673px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4156 {
  position:absolute;
  left:0px;
  top:45px;
  width:414px;
  height:673px;
}
#u4157 {
  position:absolute;
  left:2px;
  top:328px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4158 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4159 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u4160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4160 {
  position:absolute;
  left:16px;
  top:12px;
  width:22px;
  height:22px;
}
#u4161 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:96px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.749019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4162 {
  position:absolute;
  left:-9px;
  top:46px;
  width:421px;
  height:96px;
}
#u4163 {
  position:absolute;
  left:2px;
  top:40px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u4164 {
  position:absolute;
  left:35px;
  top:66px;
  width:55px;
  height:55px;
}
#u4165 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4166 {
  position:absolute;
  left:115px;
  top:73px;
  width:30px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4167 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4168 {
  position:absolute;
  left:115px;
  top:102px;
  width:116px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4169 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u4170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:41px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4171 {
  position:absolute;
  left:0px;
  top:353px;
  width:414px;
  height:41px;
  text-align:left;
}
#u4172 {
  position:absolute;
  left:2px;
  top:13px;
  width:410px;
  word-wrap:break-word;
}
#u4173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4173 {
  position:absolute;
  left:0px;
  top:394px;
  width:104px;
  height:100px;
}
#u4174 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4175 {
  position:absolute;
  left:104px;
  top:394px;
  width:104px;
  height:100px;
}
#u4176 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4177 {
  position:absolute;
  left:207px;
  top:394px;
  width:104px;
  height:100px;
}
#u4178 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4179 {
  position:absolute;
  left:309px;
  top:394px;
  width:104px;
  height:100px;
}
#u4180 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u4181 {
  position:absolute;
  left:24px;
  top:404px;
  width:57px;
  height:57px;
}
#u4182 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u4183 {
  position:absolute;
  left:33px;
  top:464px;
  width:39px;
  height:15px;
}
#u4184 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u4185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u4185 {
  position:absolute;
  left:138px;
  top:417px;
  width:37px;
  height:37px;
}
#u4186 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u4187 {
  position:absolute;
  left:131px;
  top:464px;
  width:52px;
  height:15px;
}
#u4188 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u4189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4189 {
  position:absolute;
  left:244px;
  top:422px;
  width:32px;
  height:32px;
}
#u4190 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u4191 {
  position:absolute;
  left:234px;
  top:464px;
  width:52px;
  height:15px;
}
#u4192 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u4193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u4193 {
  position:absolute;
  left:333px;
  top:404px;
  width:57px;
  height:57px;
}
#u4194 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u4195 {
  position:absolute;
  left:344px;
  top:464px;
  width:36px;
  height:15px;
}
#u4196 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u4197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:41px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4197 {
  position:absolute;
  left:0px;
  top:152px;
  width:414px;
  height:41px;
  text-align:left;
}
#u4198 {
  position:absolute;
  left:2px;
  top:13px;
  width:410px;
  word-wrap:break-word;
}
#u4199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4199 {
  position:absolute;
  left:16px;
  top:160px;
  width:25px;
  height:25px;
}
#u4200 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4201 {
  position:absolute;
  left:0px;
  top:194px;
  width:414px;
  height:149px;
}
#u4202 {
  position:absolute;
  left:2px;
  top:66px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u4203 {
  position:absolute;
  left:29px;
  top:213px;
  width:27px;
  height:15px;
}
#u4204 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u4205 {
  position:absolute;
  left:29px;
  top:261px;
  width:52px;
  height:15px;
}
#u4206 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u4207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u4207 {
  position:absolute;
  left:24px;
  top:282px;
  width:14px;
  height:16px;
}
#u4208 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u4209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u4209 {
  position:absolute;
  left:29px;
  top:308px;
  width:52px;
  height:15px;
}
#u4210 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u4211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u4211 {
  position:absolute;
  left:29px;
  top:244px;
  width:351px;
  height:1px;
}
#u4212 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u4213 {
  position:absolute;
  left:29px;
  top:291px;
  width:351px;
  height:1px;
}
#u4214 {
  position:absolute;
  left:2px;
  top:-8px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u4215 {
  position:absolute;
  left:361px;
  top:211px;
  width:19px;
  height:19px;
}
#u4216 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u4217 {
  position:absolute;
  left:361px;
  top:259px;
  width:19px;
  height:19px;
}
#u4218 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u4219 {
  position:absolute;
  left:361px;
  top:306px;
  width:19px;
  height:19px;
}
#u4220 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u4221 {
  position:absolute;
  left:286px;
  top:213px;
  width:52px;
  height:15px;
  color:#999999;
}
#u4222 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u4223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:15px;
}
#u4223 {
  position:absolute;
  left:196px;
  top:261px;
  width:151px;
  height:15px;
  color:#999999;
}
#u4224 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u4225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u4225 {
  position:absolute;
  left:308px;
  top:308px;
  width:39px;
  height:15px;
  color:#999999;
}
#u4226 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
