body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:822px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u290 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
}
#u291 {
  position:absolute;
  left:2px;
  top:351px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u292 {
  position:absolute;
  left:23px;
  top:95px;
  width:367px;
  height:105px;
}
#u293 {
  position:absolute;
  left:2px;
  top:44px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u294 {
  position:absolute;
  left:24px;
  top:226px;
  width:367px;
  height:105px;
}
#u295 {
  position:absolute;
  left:2px;
  top:44px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u296 {
  position:absolute;
  left:48px;
  top:112px;
  width:72px;
  height:72px;
}
#u297 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u298 {
  position:absolute;
  left:48px;
  top:243px;
  width:72px;
  height:72px;
}
#u299 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u300 {
  position:absolute;
  left:144px;
  top:255px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u302 {
  position:absolute;
  left:144px;
  top:284px;
  width:110px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u303 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u304 {
  position:absolute;
  left:144px;
  top:124px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u305 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u306 {
  position:absolute;
  left:144px;
  top:153px;
  width:110px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u307 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u308 {
  position:absolute;
  left:23px;
  top:95px;
  width:368px;
  height:105px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u309 {
  position:absolute;
  left:23px;
  top:226px;
  width:368px;
  height:105px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u311 {
  position:absolute;
  left:2px;
  top:13px;
  width:410px;
  word-wrap:break-word;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u312 {
  position:absolute;
  left:16px;
  top:10px;
  width:25px;
  height:25px;
}
#u313 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u314 {
  position:absolute;
  left:6px;
  top:66px;
  width:73px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u316 {
  position:absolute;
  left:522px;
  top:119px;
  width:262px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u317 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  white-space:nowrap;
}
#u318 {
  position:absolute;
  left:390px;
  top:148px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u318_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:112px;
  height:8px;
}
#u318_seg1 {
  position:absolute;
  left:104px;
  top:-30px;
  width:8px;
  height:34px;
}
#u318_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u318_seg3 {
  position:absolute;
  left:98px;
  top:-35px;
  width:20px;
  height:20px;
}
#u319 {
  position:absolute;
  left:19px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320 {
  position:absolute;
  left:390px;
  top:148px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u320_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:112px;
  height:8px;
}
#u320_seg1 {
  position:absolute;
  left:104px;
  top:-4px;
  width:8px;
  height:30px;
}
#u320_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u320_seg3 {
  position:absolute;
  left:98px;
  top:11px;
  width:20px;
  height:20px;
}
#u321 {
  position:absolute;
  left:17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:19px;
}
#u322 {
  position:absolute;
  left:522px;
  top:153px;
  width:300px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u323 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
