body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1743px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:663px;
  background:inherit;
  background-color:rgba(244, 246, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1954 {
  position:absolute;
  left:93px;
  top:118px;
  width:277px;
  height:663px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:324px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:100px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1956 {
  position:absolute;
  left:0px;
  top:791px;
  width:1440px;
  height:100px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:42px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:50px;
}
#u1959 {
  position:absolute;
  left:2px;
  top:17px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
}
#u1960 {
  position:absolute;
  left:78px;
  top:13px;
  width:47px;
  height:25px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1962_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:42px;
}
#u1962 {
  position:absolute;
  left:142px;
  top:6px;
  width:2px;
  height:39px;
}
#u1963 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#28CE57;
}
#u1964 {
  position:absolute;
  left:160px;
  top:16px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#28CE57;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1966 {
  position:absolute;
  left:1272px;
  top:8px;
  width:35px;
  height:35px;
}
#u1967 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1968 {
  position:absolute;
  left:1320px;
  top:15px;
  width:30px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1970 {
  position:absolute;
  left:1355px;
  top:21px;
  width:10px;
  height:10px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(40, 206, 87, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1972 {
  position:absolute;
  left:475px;
  top:-1px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1973 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u1974 {
  position:absolute;
  left:349px;
  top:-1px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1975 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1976 {
  position:absolute;
  left:600px;
  top:-1px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1977 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1978 {
  position:absolute;
  left:726px;
  top:-1px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1979 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:977px;
  height:663px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1980 {
  position:absolute;
  left:370px;
  top:118px;
  width:977px;
  height:663px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:324px;
  width:973px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
  background:inherit;
  background-color:rgba(40, 206, 87, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1982 {
  position:absolute;
  left:107px;
  top:178px;
  width:125px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1983 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1984 {
  position:absolute;
  left:232px;
  top:178px;
  width:125px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1985 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u1986 {
  position:absolute;
  left:107px;
  top:171px;
  width:250px;
  height:1px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:-8px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1988 {
  position:absolute;
  left:107px;
  top:237px;
  width:20px;
  height:20px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1990 {
  position:absolute;
  left:137px;
  top:235px;
  width:195px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1992 {
  position:absolute;
  left:137px;
  top:267px;
  width:109px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1994 {
  position:absolute;
  left:160px;
  top:296px;
  width:77px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1995 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1996 {
  position:absolute;
  left:160px;
  top:322px;
  width:77px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1997 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1998 {
  position:absolute;
  left:160px;
  top:349px;
  width:77px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u2000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2000 {
  position:absolute;
  left:160px;
  top:375px;
  width:77px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2002 {
  position:absolute;
  left:137px;
  top:404px;
  width:105px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2003 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u2004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2004 {
  position:absolute;
  left:137px;
  top:436px;
  width:105px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2006 {
  position:absolute;
  left:137px;
  top:467px;
  width:105px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2007 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u2008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2008 {
  position:absolute;
  left:137px;
  top:499px;
  width:105px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2009 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u2010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:977px;
  height:54px;
  background:inherit;
  background-color:rgba(244, 246, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2010 {
  position:absolute;
  left:370px;
  top:118px;
  width:977px;
  height:54px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u2011 {
  position:absolute;
  left:2px;
  top:16px;
  width:973px;
  word-wrap:break-word;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2012 {
  position:absolute;
  left:392px;
  top:186px;
  width:77px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2013 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u2014 {
  position:absolute;
  left:392px;
  top:130px;
  width:96px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u2015 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2016 {
  position:absolute;
  left:93px;
  top:64px;
  width:266px;
  height:44px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2017 {
  position:absolute;
  left:2px;
  top:11px;
  width:262px;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2018 {
  position:absolute;
  left:321px;
  top:74px;
  width:25px;
  height:25px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#003300;
}
#u2020 {
  position:absolute;
  left:370px;
  top:77px;
  width:458px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#003300;
}
#u2021 {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  white-space:nowrap;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u2022 {
  position:absolute;
  left:498px;
  top:130px;
  width:96px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u2023 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u2024 {
  position:absolute;
  left:784px;
  top:305px;
  width:150px;
  height:150px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2026 {
  position:absolute;
  left:566px;
  top:476px;
  width:586px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2027 {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  white-space:nowrap;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2028 {
  position:absolute;
  left:117px;
  top:267px;
  width:20px;
  height:20px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2030 {
  position:absolute;
  left:117px;
  top:404px;
  width:20px;
  height:20px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2032 {
  position:absolute;
  left:117px;
  top:434px;
  width:20px;
  height:20px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2034 {
  position:absolute;
  left:117px;
  top:464px;
  width:20px;
  height:20px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2036 {
  position:absolute;
  left:117px;
  top:497px;
  width:20px;
  height:20px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038 {
  position:absolute;
  left:861px;
  top:473px;
  width:68px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2039 {
  position:absolute;
  left:939px;
  top:473px;
  width:74px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:24px;
}
#u2040 {
  position:absolute;
  left:179px;
  top:133px;
  width:107px;
  height:24px;
  font-family:'华文中宋';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2041 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2042 {
  position:absolute;
  left:1393px;
  top:77px;
  width:350px;
  height:153px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:68px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2044 {
  position:absolute;
  left:1413px;
  top:90px;
  width:75px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2045 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2046 {
  position:absolute;
  left:1413px;
  top:132px;
  width:319px;
  height:86px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
