body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u772 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  overflow:hidden;
}
#u772_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u772_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u773 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:717px;
}
#u774 {
  position:absolute;
  left:2px;
  top:350px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u775 {
  position:absolute;
  left:0px;
  top:657px;
  width:414px;
  height:60px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u776 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u778 {
  position:absolute;
  left:76px;
  top:521px;
  width:61px;
  height:61px;
}
#u779 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u780 {
  position:absolute;
  left:177px;
  top:521px;
  width:61px;
  height:61px;
}
#u781 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u782 {
  position:absolute;
  left:278px;
  top:521px;
  width:61px;
  height:61px;
}
#u783 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u784 {
  position:absolute;
  left:92px;
  top:537px;
  width:30px;
  height:30px;
}
#u785 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u786 {
  position:absolute;
  left:193px;
  top:537px;
  width:30px;
  height:30px;
}
#u787 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u788 {
  position:absolute;
  left:294px;
  top:537px;
  width:30px;
  height:30px;
}
#u789 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u790 {
  position:absolute;
  left:94px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u791 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u792 {
  position:absolute;
  left:195px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u793 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u794 {
  position:absolute;
  left:296px;
  top:592px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u795 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u796 {
  position:absolute;
  left:157px;
  top:657px;
  width:100px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u797 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:99px;
}
#u798 {
  position:absolute;
  left:79px;
  top:195px;
  width:99px;
  height:99px;
}
#u799 {
  position:absolute;
  left:2px;
  top:42px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u800 {
  position:absolute;
  left:188px;
  top:226px;
  width:148px;
  height:38px;
  font-family:'华文新魏 Bold', '华文新魏';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#999999;
}
#u801 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:718px;
}
#u803 {
  position:absolute;
  left:2px;
  top:351px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u804 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u805 {
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
#u806 {
  position:absolute;
  left:0px;
  top:45px;
  width:414px;
  height:625px;
  overflow:hidden;
}
#u806_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:625px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u806_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:10px;
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u807 {
  position:absolute;
  left:67px;
  top:39px;
  width:289px;
  height:164px;
}
#u808 {
  position:absolute;
  left:2px;
  top:74px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
}
#u809 {
  position:absolute;
  left:163px;
  top:10px;
  width:88px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u810 {
  position:absolute;
  left:0px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u811 {
  position:absolute;
  left:366px;
  top:109px;
  width:41px;
  height:24px;
}
#u812 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u813 {
  position:absolute;
  left:12px;
  top:109px;
  width:41px;
  height:24px;
}
#u814 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:30px;
}
#u815 {
  position:absolute;
  left:92px;
  top:106px;
  width:243px;
  height:30px;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
}
#u817 {
  position:absolute;
  left:143px;
  top:55px;
  width:61px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u818 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
}
#u819 {
  position:absolute;
  left:143px;
  top:79px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u820 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u821 {
  position:absolute;
  left:93px;
  top:55px;
  width:40px;
  height:40px;
}
#u822 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:2px;
}
#u823 {
  position:absolute;
  left:67px;
  top:166px;
  width:289px;
  height:1px;
}
#u824 {
  position:absolute;
  left:2px;
  top:-8px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u825 {
  position:absolute;
  left:83px;
  top:177px;
  width:61px;
  height:15px;
  text-align:center;
}
#u826 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u827 {
  position:absolute;
  left:0px;
  top:221px;
  width:414px;
  height:1px;
}
#u828 {
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:28px;
}
#u829 {
  position:absolute;
  left:20px;
  top:237px;
  width:3px;
  height:25px;
}
#u830 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u831 {
  position:absolute;
  left:33px;
  top:240px;
  width:113px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833 {
  position:absolute;
  left:0px;
  top:272px;
  width:414px;
  height:183px;
}
#u834 {
  position:absolute;
  left:2px;
  top:84px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u835 {
  position:absolute;
  left:20px;
  top:289px;
  width:51px;
  height:51px;
}
#u836 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:14px;
}
#u837 {
  position:absolute;
  left:89px;
  top:289px;
  width:64px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
}
#u839 {
  position:absolute;
  left:89px;
  top:313px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:30px;
}
#u841 {
  position:absolute;
  left:89px;
  top:337px;
  width:286px;
  height:30px;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u843 {
  position:absolute;
  left:89px;
  top:381px;
  width:64px;
  height:64px;
}
#u844 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u845 {
  position:absolute;
  left:163px;
  top:381px;
  width:64px;
  height:64px;
}
#u846 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u847 {
  position:absolute;
  left:237px;
  top:381px;
  width:64px;
  height:64px;
}
#u848 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(29, 158, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u849 {
  position:absolute;
  left:330px;
  top:417px;
  width:67px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u850 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u851 {
  position:absolute;
  left:0px;
  top:465px;
  width:414px;
  height:183px;
}
#u852 {
  position:absolute;
  left:2px;
  top:84px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u853 {
  position:absolute;
  left:20px;
  top:482px;
  width:51px;
  height:51px;
}
#u854 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:14px;
}
#u855 {
  position:absolute;
  left:89px;
  top:482px;
  width:52px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
}
#u857 {
  position:absolute;
  left:89px;
  top:506px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:30px;
}
#u859 {
  position:absolute;
  left:89px;
  top:530px;
  width:286px;
  height:30px;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u861 {
  position:absolute;
  left:89px;
  top:574px;
  width:64px;
  height:64px;
}
#u862 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u863 {
  position:absolute;
  left:163px;
  top:574px;
  width:64px;
  height:64px;
}
#u864 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u865 {
  position:absolute;
  left:237px;
  top:574px;
  width:64px;
  height:64px;
}
#u866 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(29, 158, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u867 {
  position:absolute;
  left:330px;
  top:610px;
  width:67px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u868 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u869 {
  position:absolute;
  left:0px;
  top:658px;
  width:414px;
  height:183px;
}
#u870 {
  position:absolute;
  left:2px;
  top:84px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u871 {
  position:absolute;
  left:20px;
  top:675px;
  width:51px;
  height:51px;
}
#u872 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
}
#u873 {
  position:absolute;
  left:89px;
  top:675px;
  width:67px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u874 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
}
#u875 {
  position:absolute;
  left:89px;
  top:699px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u876 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:30px;
}
#u877 {
  position:absolute;
  left:89px;
  top:723px;
  width:286px;
  height:30px;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u879 {
  position:absolute;
  left:89px;
  top:771px;
  width:25px;
  height:25px;
}
#u880 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u881 {
  position:absolute;
  left:330px;
  top:803px;
  width:67px;
  height:25px;
  color:#000000;
}
#u882 {
  position:absolute;
  left:2px;
  top:5px;
  width:63px;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u883 {
  position:absolute;
  left:0px;
  top:851px;
  width:414px;
  height:183px;
}
#u884 {
  position:absolute;
  left:2px;
  top:84px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u885 {
  position:absolute;
  left:20px;
  top:868px;
  width:51px;
  height:51px;
}
#u886 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:14px;
}
#u887 {
  position:absolute;
  left:89px;
  top:868px;
  width:64px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
}
#u889 {
  position:absolute;
  left:89px;
  top:892px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:30px;
}
#u891 {
  position:absolute;
  left:89px;
  top:916px;
  width:286px;
  height:30px;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u893 {
  position:absolute;
  left:89px;
  top:960px;
  width:64px;
  height:64px;
}
#u894 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u895 {
  position:absolute;
  left:163px;
  top:960px;
  width:64px;
  height:64px;
}
#u896 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u897 {
  position:absolute;
  left:237px;
  top:960px;
  width:64px;
  height:64px;
}
#u898 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u899 {
  position:absolute;
  left:330px;
  top:996px;
  width:67px;
  height:25px;
  color:#000000;
}
#u900 {
  position:absolute;
  left:2px;
  top:5px;
  width:63px;
  word-wrap:break-word;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:9px;
}
#u901 {
  position:absolute;
  left:330px;
  top:678px;
  width:56px;
  height:9px;
}
#u902 {
  position:absolute;
  left:2px;
  top:-4px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:9px;
}
#u903 {
  position:absolute;
  left:330px;
  top:871px;
  width:56px;
  height:9px;
}
#u904 {
  position:absolute;
  left:2px;
  top:-4px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:15px;
}
#u905 {
  position:absolute;
  left:129px;
  top:776px;
  width:196px;
  height:15px;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u907 {
  position:absolute;
  left:334px;
  top:809px;
  width:13px;
  height:13px;
}
#u908 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u909 {
  position:absolute;
  left:334px;
  top:1002px;
  width:13px;
  height:13px;
}
#u910 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u911 {
  position:absolute;
  left:313px;
  top:242px;
  width:74px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u913 {
  position:absolute;
  left:136px;
  top:1062px;
  width:119px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u915 {
  position:absolute;
  left:0px;
  top:670px;
  width:414px;
  height:48px;
}
#u916 {
  position:absolute;
  left:2px;
  top:16px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u918 {
  position:absolute;
  left:350px;
  top:699px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
}
#u920 {
  position:absolute;
  left:180px;
  top:661px;
  width:55px;
  height:55px;
}
#u921 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u922 {
  position:absolute;
  left:351px;
  top:674px;
  width:23px;
  height:23px;
}
#u923 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u924 {
  position:absolute;
  left:40px;
  top:674px;
  width:23px;
  height:23px;
}
#u925 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u926 {
  position:absolute;
  left:110px;
  top:675px;
  width:23px;
  height:23px;
}
#u927 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u928 {
  position:absolute;
  left:281px;
  top:676px;
  width:23px;
  height:23px;
}
#u929 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u930 {
  position:absolute;
  left:33px;
  top:699px;
  width:37px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u932 {
  position:absolute;
  left:109px;
  top:699px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#009900;
  text-align:center;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u934 {
  position:absolute;
  left:280px;
  top:699px;
  width:25px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u936 {
  position:absolute;
  left:195px;
  top:676px;
  width:25px;
  height:25px;
}
#u937 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u938 {
  position:absolute;
  left:16px;
  top:12px;
  width:22px;
  height:22px;
}
#u939 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940 {
  position:absolute;
  left:18px;
  top:670px;
  width:68px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u941 {
  position:absolute;
  left:259px;
  top:670px;
  width:68px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u942 {
  position:absolute;
  left:329px;
  top:670px;
  width:68px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
